In [ ]:
import pandas as pd
import numpy as np
import os as os
os.chdir("C:\\Users\\Administrator\\Desktop\\Jupiter notebooks\\DataSets")
terror=pd.read_csv('terror.csv',encoding='latin')

In [ ]:
#Q.1)	How many attacks happened in India?

terror[terror.country_txt=='India'].country_txt.count()

In [3]:
#Q.2)How many attacks happened in India and upto 3 people were killed? 

terror[(terror.country_txt=='India') & (terror.nkill<=3)].country_txt.count()

8362

In [4]:
3#Extract the city and summary for attacks above

terror[(terror.country_txt=='India') & (terror.nkill<=3)][['city','summary']]

                     city                                            summary
1185            New Delhi                                                NaN
3780            New Delhi                                                NaN
5251               Bombay                                                NaN
7266               Imphal                                                NaN
8609              Unknown                                                NaN
8755              Unknown                                                NaN
8977               Amapur                                                NaN
9037             Raisikah                                                NaN
9040             Champhai                                                NaN
9070               Aizawl                                                NaN
9072           Jamshedpur                                                NaN
9081            New Delhi                                                NaN
9082            New Delhi                                                NaN
9090           Jamshedpur                                                NaN
9137              Chennai                                                NaN
9691              Unknown                                                NaN
9732              Unknown                                                NaN
9801              Unknown                                                NaN
9841               Imphal                                                NaN
9887              Unknown                                                NaN
10407           Chiaplant                                                NaN
10522            Calcutta                                                NaN
10744           New Delhi                                                NaN
12187             Unknown                                                NaN
12391             Unknown                                                NaN
12439             Unknown                                                NaN
13049             Gauhati                                                NaN
13177              Jorhat                                                NaN
13300             Unknown                                                NaN
13875             Unknown                                                NaN
...                   ...                                                ...
156156         Dariyakona  12/15/2015: Assailants abducted Baghel Gond fr...
156176           Awapalli  12/15/2015: An explosive device detonated in A...
156243           Srinagar  12/17/2015: Assailants fired a rifle grenade a...
156248             Imphal  12/17/2015: An explosive device detonated in D...
156249       Williamnagar  12/17/2015: Assailants threw a grenade at a st...
156292     Pookottumpadam  12/18/2015: Assailants attacked an Indian Fore...
156314        Kalia Atala  12/19/2015: Assailants torched an Airtel cell ...
156339           Chipakur  12/20/2015: Assailants torched an under-constr...
156340            Kakpora  12/20/2015: Assailants threw a grenade at the ...
156383    Bastar district  12/21/2015: Security forces arrested three ass...
156384       Madathakonda  12/21/2015: Assailants abducted and killed Van...
156385       Madathakonda  12/21/2015: Assailants beat a civilian in Mada...
156388       Badapokharia  12/21/2015: Assailants threw at least nine cru...
156389      Simra Nizamat  12/21/2015: Police discovered and defused two ...
156433             Imphal  12/22/2015: Assailants shot and killed a baker...
156458           Nilawaya  12/23/2015: Assailants abducted Hadma Ram, a f...
156459             Imphal  12/23/2015: An explosive device planted under ...
156483          Bijbehara  12/24/2015: Assailants opened fire on police p...
156499            Ramgarh  12/24/2015: Assailants detonated explosive dev...
156529          Badapadar  12/25/2015: Assailants attacked Jayaram Khara ...
156530  Kudumulgumma Raba  12/25/2015: Assailants attacked Sahdev Badanay...
156533          Sivasagar  12/25/2015: Security forces discovered and def...
156569             Pariya  12/26/2015: Assailants abducted Sujit Modiyami...
156612           Tillayya  12/26/2015: An assailant attempted to plant an...
156658            Mendhar  12/27/2015: An explosive device planted under ...
156695              Terem  12/29/2015: Assailants abducted three students...
156698         Peravurani  12/29/2015: An explosive device was discovered...
156713          Tulsibari  12/29/2015: Assailants abducted Hazrat Ali in ...
156725            Zhutovi  12/30/2015: Assailants attempted to extort mon...
156756           Srinagar  12/31/2015: Assailants threw a grenade at an I...

[8362 rows x 2 columns]

In [5]:
#Q.4)In a single terror incident in India, find out top 5 cities by number killed

terror[(terror.country_txt=='India')].sort_values(by="nkill",ascending=False)[['city','nkill']].head(5)

                     city  nkill
81000              Mumbai  188.0
96598             Jhargam  115.0
54339              Bombay  115.0
95860  Dantewada district   82.0
56837            Banabari   70.0

In [6]:
#Q.5)In a single terror incident in India, find out top 5 cities by number killed and wounded 

terror[(terror.country_txt=='India')].sort_values(by='nwound',ascending=False)[['city','nkill','nwound']].head(5)

            city  nkill  nwound
81000     Mumbai  188.0   817.0
89128     Dispur   37.0   235.0
30378    Chennai   32.0   200.0
79045  New Delhi   55.0   155.0
75769     Mumbai   52.0   150.0

In [7]:
#How many attacks were successful that were suicide attacks?

terror[(terror.weapsubtype1_txt=='Suicide (carried bodily by human being)') & (terror.success==1)].success.count()

1930

In [8]:
#label all the incidents where the number killed was more than 5 as severe.

terror['severity']=['severe' if i>5 else 'not severe'  for i in terror.nkill]

terror['severity']

0         not severe
1         not severe
2         not severe
3         not severe
4         not severe
5         not severe
6         not severe
7         not severe
8         not severe
9         not severe
10        not severe
11        not severe
12        not severe
13        not severe
14        not severe
15        not severe
16        not severe
17        not severe
18        not severe
19        not severe
20        not severe
21        not severe
22        not severe
23        not severe
24        not severe
25        not severe
26        not severe
27        not severe
28        not severe
29        not severe
             ...
156742    not severe
156743    not severe
156744    not severe
156745    not severe
156746    not severe
156747    not severe
156748    not severe
156749    not severe
156750    not severe
156751    not severe
156752    not severe
156753    not severe
156754    not severe
156755    not severe
156756    not severe
156757    not severe
156758    not severe
156759    not severe
156760    not severe
156761    not severe
156762        severe
156763    not severe
156764    not severe
156765    not severe
156766    not severe
156767    not severe
156768    not severe
156769    not severe
156770    not severe
156771    not severe
Name: severity, Length: 156772, dtype: object